# FRONTEND
NODE_ENV=development
GRAPHQL_API_URL=http://localhost:3000/api/
SKELM_BASE_URL=http://localhost:3000

# SERVER
PG_HOST=localhost
PG_DATABASE=kudoo
PG_USERNAME=kudoo
PG_PASSWORD=kudoo
PG_SCHEMA=kudoo
PRISMA_ENDPOINT=
# This will be used when we want to reference skelm base url. Basically this is useful to point verify registration url and other url. Please check this lines, http://code.kudoo.io/kudoo/vizier/blob/v2.1/server/skelm/src/helpers/constants.ts#L35-40
SKELM_BASE_URL=
# This will be useful to point vizier base url from skelm, http://code.kudoo.io/kudoo/vizier/blob/v2.1/server/skelm/src/helpers/constants.ts#L25-33
WEB_BASE_URL=http://localhost:8080
JWT_SECRET=development
PORT=3000